$background: #16161a;
$background-dark: #101013;
$background-light: #2b2b33;

$foreground: #ffffff;
$foreground-dark: #d0d0d0;
$foreground-darker: #b0b0b0;

$primary: #7f5af0;
$primary-dark: #6149b2;
$primary-darker: #4a3885;

$accent: #2cb67d;

$error: #ef5b69;

$root-font-size: 14px;
